body {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
}

.wrapper {
  .checkbox-container {
    margin-left: 20px;
  }

  .checkmark-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkmark-container input {
    display: block;
    position: relative;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #3b3b3b;
    border: 3px solid #fff;
    cursor: pointer;
  }

  .checkmark-container input:checked ~ .checkmark {
    background-color: #6bffab;
    border: 3px solid #6bffab;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkmark-container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .heading {
    font-family: "Space Mono", monospace;
    text-align: center;
    font-weight: 400;
    font-size: 1.75rem;
    margin: 40px;
    color: #adadad;
  }

  .output-container {
    text-align: center;
    position: relative;

    .password-output {
      margin: auto;
      outline: 0;
      background-color: #3b3b3b;
      border: none;
      width: 600px;
      height: 60px;
      font-family: "Space Mono", monospace;
      font-weight: 500;
      color: #adadad;
      font-size: 1.5rem;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    .password-output::placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Space Mono", monospace;
      font-weight: 600;
      font-size: 1.5rem;
      vertical-align: baseline;
    }
  }

  .param-container {
    background-color: #3b3b3b;
    padding-top: 20px;
    width: 620px;
    margin: auto;
    padding-bottom: 20px;

    .button-container {
      .generate-button {
        margin-left: 20px;
        color: #1c1c1c;
        background-color: #6bffab;
        border: 2px solid #6bffab;
        width: 580px;
        height: 60px;
        font-family: "Space Mono", monospace;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.5s;
      }

      .generate-button:hover {
        margin-left: 20px;
        color: #6bffab;
        background-color: #1c1c1c;
        border: 2px solid #6bffab;
        width: 580px;
        height: 60px;
        font-family: "Space Mono", monospace;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .length-counter-container {
      position: relative;

      .length-counter {
        font-family: "Space Mono", monospace;
        color: #6bffab;
        display: inline;
        position: absolute;
        right: 20px;
        top: -60px;
      }
    }

    .range-container {
      input[type="range"] {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        width: 580px;
        height: 8px;
        background-color: #d5d5d5;
        outline: none;
      }
      input[type="range"]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        height: 8px;
      }
      input[type="range"]::-moz-track {
        -moz-appearance: none;
        height: 8px;
      }
      input[type="range"]::-ms-track {
        appearance: none;
        height: 8px;
      }
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -11px;
        border: none;
      }
      input[type="range"]::-moz-range-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        background-color: #3264fe;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -11px;
        border: none;
      }
      input[type="range"]::-moz-range-progress {
        background-color: #6bffab;
      }
      input[type="range"]::-moz-range-track {
        background-color: #fff;
      }
      input[type="range"]::-ms-thumb {
        appearance: none;
        height: 30px;
        width: 30px;
        background-color: #3264fe;
        border-radius: 50%;
        cursor: pointer;
        margin-top: -11px;
        border: none;
      }
      input[type="range"]::-ms-fill-lower {
        background-color: #6bffab;
      }
      input[type="range"]::-ms-fill-upper {
        background-color: #fff;
      }
      input[type="range"]:active::-webkit-slider-thumb {
        background-color: #1c1c1c;
        border: 3px solid #6bffab;
      }

      .range-input {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      padding-left: 20px;
    }

    .param {
      color: #cbcbcb;
      font-family: "Space Mono", monospace;
      position: relative;
      left: 40px;
      display: inline;
    }

    .param-header {
      color: #cbcbcb;
      font-family: "Space Mono", monospace;
      display: inline;
      padding-left: 20px;
    }

    .strength-container {
      text-align: center;
      margin-top: 20px;
      .strength-output {
        margin: auto;
        outline: 0;
        background-color: #1c1c1c;
        border: none;
        width: 560px;
        height: 60px;
        font-family: "Space Mono", monospace;
        font-weight: 500;
        color: #adadad;
        font-size: 1.5rem;
        padding-left: 20px;
      }
    }
  }
}
