body {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
}

.wrapper {
  .heading {
    font-family: "Space Mono", monospace;
    text-align: center;
    font-weight: 400;
    font-size: 1.75rem;
    margin: 40px;
    color: #adadad;
  }

  .output-container {
    text-align: center;

    .password-output {
      margin: auto;
      outline: 0;
      background-color: #3b3b3b;
      border: none;
      width: 600px;
      height: 60px;
      font-family: "Space Mono", monospace;
      font-weight: 500;
      color: #adadad;
      font-size: 1.5rem;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    .password-output::placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Space Mono", monospace;
      font-weight: 600;
      font-size: 1.5rem;
      vertical-align: baseline;
    }
  }

  .param-container{
    background-color: #3b3b3b;
    padding-top: 20px;
    width: 600px;
    margin: auto;
    
    .param{
        color: #CBCBCB;
        font-family: "Space Mono", monospace;
    }
    
    .param-header{
        color: #CBCBCB;
        font-family: "Space Mono", monospace;
        display: inline;
    }
    
    .length-counter{
        font-family: "Space Mono", monospace;
        color: #25ff85;
        display: inline;
        position: absolute;
        right: 20px;
        float: top;
    }
    
    .strength-container{
      text-align: center;
      .strength-output{
      margin: auto;
      outline: 0;
      background-color: #1c1c1c;
      border: none;
      width: 500px;
      height: 60px;
      font-family: "Space Mono", monospace;
      font-weight: 500;
      color: #adadad;
      font-size: 1.5rem;
      padding-left: 20px;
    }
    }
  }
}
